.reveal h1 {
  font-size: 70px;
}

.reveal p {
  font-size: 25px;
  text-align: left;
}

.reveal ul {
  font-size: 25px;
  text-align: left;
}

.reveal li {
  font-size: 25px;
  text-align: left;
}
.reveal .slides {
  text-align: left;
}

/* .reveal img { */
/*   position: fixed; */
/*   right: 0; */
/*   width: 30% !important; */
/* } */

img[src="../bazaar/arch.png"] {
  width: 120% !important;
}

img[src="../vlog2/logo.svg"] {
  position: fixed;
  right: 0;
  width: 30% !important;
  height: auto;
}
